* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body, html {
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
}
header > h1 {
    color:aliceblue;
    text-shadow: 1px 2px 4px black;
    flex-basis: 200px;
}
header > nav {
    display: flex;
    
}
nav ul{
    list-style-type: none;
    
}
ul > a {
    display: inline-flex;
    
    padding:5px;
    text-decoration: none;
    
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    border-radius: 4px;
}
ul > a:hover{
    background-color: black;
    transition: .5s;
}

body {
    background-color: rgba(128, 128, 128, 0.42);

}
main {
    padding: 10px;
}
section {
    display: block;
    
    background-color: whitesmoke;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    max-width: 750px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.486);
}
main > section > p {
    text-indent: 5px;
    
}