@media screen and (min-width:650px) and (max-width:849px) {

  body {
    grid-template: auto 1fr auto / 5px 2fr 3fr 10px;
    align-items: start;
    justify-content: start;
  }

  body,
  html {
    height: auto;
    width: auto;
  }

  .ficha {
    padding: 0 30px;
    grid-row: 2 / -2;
    grid-column: 2 / 3;

    margin: 0;

    position: sticky;
    top: 20px;
  }

  #img_guanabara {
    width: 150px;
    height: 150px;
  }

  main {
    grid-row: 2 / -2;
    grid-column: 3 / -2;
    width: auto;
  }

  .detalhes {
    margin-top: 60px;
    width: 100%;
  }

  .video_yt>iframe {
    width: 100%;
    height: 250px;
  }

  .recipiente {
    width: 85%;
  }

  #projects>.bluecontent>.over_bluecontent {
    display: flex;
    flex-flow: row nowrap;
  }

  #projects>.bluecontent>.over_bluecontent img {
    order:1;
    width: 20vw;
    border-radius: 6%;
  }
}

@media screen and (min-width:850px) {
  body {
    box-sizing: content-box;
    grid-template: auto 1fr auto / 30px 2fr 3fr 30px;
    align-items: start;
    justify-content: start;
  }

  body,
  html {
    height: auto;
    width: auto;
  }

  .ficha {
    padding: 0 30px 30px 0;
    grid-row: 2 / -2;
    grid-column: 2 / 3;

    margin: 0;

    position: sticky;
    top: 20px;
  }

  #img_guanabara {
    width: 200px;
    height: 200px;
  }

  main {
    grid-row: 2 / -2;
    grid-column: 3 / -2;
    width: 100%;
    max-width: 800px;
  }

  .detalhes {
    margin-top: 60px;
    width: auto;
  }

  .containerskills {
    display: flex;
    gap: 20px
  }

  .skill_separator {
    flex: 1;
  }

  .recipiente {
    width: 100%;
  }
  
  #projects>.bluecontent{
    min-width: 300px;
  }
  #projects>.bluecontent>.over_bluecontent {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #projects>.bluecontent>.over_bluecontent img {
    flex: 1 1 600px;
    order:1;
    width: 20vw;
    border-radius: 6%;
  }
  
  .over_bluecontent img {
  max-width: 20%;
  max-height: 200px;
}
}